:root {
  --map-width: 3;
  --map-height: 3;
}

.field {
  margin: auto;
  padding: 10px;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.unitLayer {
  display: grid;
  grid-template-columns: repeat(var(--map-width), var(--unit-width));
  grid-template-rows: repeat(var(--map-height), var(--unit-width));
  grid-row-gap: 2px;
  grid-column-gap: 2px;
}

.projectileLayer {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 5;
}