.levelEdit {
  padding: 16px 0 0 0;
}

.levelEdit-header {
  padding-bottom: 16px;
}

.levelEdit-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 8px 0;
  margin-top: 16px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.levelEditInput input {
  padding: 6px;
}

.levelEditSelectRoot .levelEditSelect {
  padding: 6px 32px 6px 6px;
}

.comboSequence {
  max-width: 375px;
}

.comboSequence-addButton {
  padding: 4px!important;
  width: 50px;
  min-width: 50px!important;
}

.comboSequence-input input {
  padding: 6px;
}

.levelEditToolbar {
  width: 100%;
  padding: 5px;
}

.levelEditButtons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 0 0 10px 0;
}

.levelEditButton {
  &.button {
    padding: 8px 4px;
  }
}

.levelEditRotates {
  display: grid;
  grid-column-gap: 3px;
  grid-template-columns: 1fr 1fr;
}

.levelEdit-modeSwitcher {
  font-size: 11px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.levelEditItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

.levelEditItems-itemButton {
  width: 39px;
  height: 39px;

  .unit {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .unit-hitBox {
    display: none;
  }
}
