:root {
  --unit-hitBox--radius: calc(var(--base-width-unit) * 1px);
}

.unit {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid rgba(211, 211, 211, 1);
  position: relative;
  aspect-ratio: 1;
}

.unit-pivot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  margin: auto;
}

.unit-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgb(51, 187, 255);
  width: calc(var(--unit-image--width, 0px) * 2);
  height: calc(var(--unit-image--width, 0px) * 2);
  border-radius: 50%;
  transition: all 0.1s ease-out;
}

.unit-hitBox {
  --width: calc(var(--unit-hitBox--radius) * 2);
  --height: calc(var(--unit-hitBox--radius) * 2);

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 1);
  width: var(--width);
  height: var(--height);
  border-radius: 50%;
}

.wall {
  .unit-image {
    background: rgb(192, 192, 192);
    opacity: 1;
  }
}

.hidden {
  .unit-image {
    opacity: 0.1;
  }
}

.laser {
  .unit-image {
    background: #FF4D00;
    opacity: 1;
  }
}

.bobomb {
  .unit-image {
    background: yellow;
    opacity: 1;
  }
}

.portal {
  .unit-image {
    height: 65%;
    background: orange;
    opacity: 1;
    box-shadow: 0 0 7px 0 rgb(0, 0, 0, 0.4) inset;

    &:before {
      content: '';
      display: block;
      width: 2px;
      height: 50%;
      position: absolute;
      background-color: white;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      z-index: 1;
    }

    &:after {
      content: '';
      display: block;
      width: 50%;
      height: 2px;
      position: absolute;
      background-color: black;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.unit-image__exploding {
  width: 100%!important;
  height: 100%!important;
  transform: scale(1);
  animation: explode var(--unit-image--explosion-duration) ease;
  animation-fill-mode: forwards;
}

@keyframes explode {
  0% {
    transform: scale(1);
  }
  99.9999% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.turret {
  width: 4px;
  height: 4px;
  position: absolute;
  margin: auto;
  transform-origin: center;
  border-radius: 3px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.weapon {
  width: 0;
  height: 0;
  //background: blue;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 1px;

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 1px;
    height: 0;
    opacity: 0.3;
  }

  &:before {
    background: red;
    bottom: 0;
  }
  &:after {
    background: red;
    top: 0;
  }

  .gunpoint {
    width: 0;
    height: 0;
    background: red;
    margin: auto;
  }
}
