:root {
  --unit-width: 32px;
  --unit-hitBox--radius: 1px;
}

.unit-pivot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  margin: auto;

  &:nth-child(181) {
    .unit {
      outline: 1px solid #4733ff;
    }
  }
}

.unit {
  width: var(--unit-width);
  min-width: var(--unit-width);
  height: var(--unit-width);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid rgba(211, 211, 211, 1);
  position: relative;
}

.unit-hitBox {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.05);
  width: calc(var(--unit-hitBox--radius) * 2);
  height: calc(var(--unit-hitBox--radius) * 2);
  border-radius: 50%;
}

.unit-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgb(51, 187, 255);
  width: calc(var(--unit-image--radius, 0px) * 2);
  height: calc(var(--unit-image--radius, 0px) * 2);
  border-radius: 50%;
  transition: all 0.1s ease-out;
}

.wall {
  .unit-image {
    background: rgb(192, 192, 192);
    opacity: 1;
  }
}

.hidden {
  .unit-image {
    opacity: 0.1;
  }
}

.laser {
  .unit-image {
    background: #FF4D00;
    opacity: 1;
  }
}

.bobomb {
  .unit-image {
    background: yellow;
    opacity: 1;
  }
}

.turret {
  width: 4px;
  height: 4px;
  position: absolute;
  margin: auto;
  transform-origin: center;
  border-radius: 3px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.weapon {
  width: 2px;
  height: 2px;
  //background: blue;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 1px;

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 1px;
    height: 0;
    opacity: 0.3;
  }

  &:before {
    background: red;
    bottom: 0;
  }
  &:after {
    background: red;
    top: 0;
  }

  .gunpoint {
    width: 0;
    height: 0;
    background: red;
    margin: auto;
  }
}