:root {
  --unit-width: 32px;
  --unit-hitBox--radius: 12px;
}

.unit-pivot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  margin: auto;
}

.unit {
  width: var(--unit-width);
  min-width: var(--unit-width);
  height: var(--unit-width);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(211, 211, 211, 0);
  position: relative;
}

.unit-hitBox {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.05);
  width: calc(var(--unit-hitBox--radius) * 2);
  height: calc(var(--unit-hitBox--radius) * 2);
  border-radius: 50%;
}

.unit-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgb(51, 187, 255);
  width: calc(var(--unit-image--radius, 0px) * 2);
  height: calc(var(--unit-image--radius, 0px) * 2);
  border-radius: 50%;
  transition: all 0.1s ease-out;
  opacity: 0.3;
}

.turret {
  width: 4px;
  height: 4px;
  position: absolute;
  margin: auto;
  transform-origin: center;
  border-radius: 3px;

  &.turret1 {
    top: calc(50% - 4px);
    left: 0;
    right: 0;
  }

  &.turret2 {
    top: 0;
    bottom: 0;
    right: calc(50% - 4px);
  }

  &.turret3 {
    bottom: calc(50% - 4px);
    left: 0;
    right: 0;
  }

  &.turret4 {
    top: 0;
    bottom: 0;
    left: calc(50% - 4px);
  }
}

.weapon {
  width: 2px;
  height: 2px;
  background: blue;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 1px;

  .gunpoint {
    width: 0;
    height: 0;
    background: red;
    margin: auto;
  }
}