.field {
  width: 100%;
  aspect-ratio: 1;
  margin: auto;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.mapLayer {
  height: 100%;
  width: 100%;
  position: absolute;
}

.mapLayer-cell {
  position: absolute;
  z-index: 5;
  outline: 1px solid rgba(0, 0, 0, 0.2);

  &.selected {
    outline: 1px solid rgba(0, 0, 0, 1);
  }

  &.grass {
    background-color: green;
    opacity: 0.3;
    border-radius: calc(var(--base-width-unit) * 5px);
  }

  &.water {
    background-color: aqua;
    opacity: 0.5;
    border-radius: calc(var(--base-width-unit) * 5px);
  }

  &.sand {
    background-color: sandybrown;
    opacity: 0.5;
    border-radius: calc(var(--base-width-unit) * 5px);
  }

  &.void {
    outline: 1px solid rgba(0, 0, 0, 0);

    &.selected {
      outline: 1px solid rgba(0, 0, 0, 1);
    }
  }
}

.hideUnits {
  .unitLayer {
    visibility: collapse;
  }
}

.hideTurrets {
  .unit-hitBox {
    opacity: 0;
  }
  .weapon {
    background-color: rgba(0, 0, 0, 0);
  }
}

.unitLayer {
  height: 100%;
  width: 100%;
  position: absolute;
}

.projectileLayer {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 15;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.winMessage {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.loseMessage {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.playgroundHeader {
  width: 100%;
  padding: 2%;
  background-color: lightgray;
}

.playgroundMenuButton {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  appearance: none;
  border: none;
  background-color: #4733ff;
  color: white;
  position: relative;
  font-size: 0;
  border-radius: 2px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;

    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    margin: auto;
    height: 2px;
    background-color: white;
  }
}

.playgroundHeader-rightButtons {
  float: right;
  display: flex;
}

.playgroundHeaderButton {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  appearance: none;
  border: none;
  background-color: #33b8ff;
  color: white;
  position: relative;
  font-size: 0;
  border-radius: 2px;

  & + & {
    margin-left: 5px;
  }

  &.active {
    background-color: #4733ff;
  }
}

.settingsScreen {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.settingsScreen-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 34px;
  height: 34px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 4px;
    right: 4px;
    height: 2px;
    background-color: black;
    margin: auto;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.playgroundEditBox {
  position: relative;

  &.disabled {
    filter: grayscale(1);
    opacity: 0.5;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
    }
  }
}

.moves {
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  margin: 0;
}

.currentLevel {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  margin: 0;
}

.exitDialog {
  padding: 20px;
  width: 100%;
  max-width: 320px;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  position: relative;
}

.exitDialog-title {
  margin: 0 0 20px 0;
}

.button.exitDialog-close,
.exitDialog-close {
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 6px;
    right: 6px;
    height: 2px;
    background-color: black;
    margin: auto;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.exitDialog-buttons {
  display: flex;
  justify-content: flex-end;
}

.exitDialog-button {
  min-width: 80px;
  margin-left: 16px;
}
