body, html, #root {
  width: 100%;
  height: 100%;
}

.app {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aliceblue;
}

.screen {
  position: absolute;
  width: 100%;
  min-height: 99%;
  max-width: 768px;
  max-height: 1280px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 1.5%;
  z-index: 10;
}

.serviceScreen {
  width: 100%;
  max-width: 768px;
  min-height: 100vh;
  background-color: #ffffff;
  margin-bottom: auto;
  position: relative;
  z-index: 20;
}

.container {
  width: 100%;
  max-width: 768px;
  padding: 0 8px;
  margin: 0 auto;
}

.button {
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: var(--font-family-default);
  font-size: 14px;

  &:active {
    transform: translate(1px, 1px);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3) inset;
  }

  &.selected {
    outline: 1px solid;
    outline-offset: 2px;
  }
}

.select {
  padding: 7px 8px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: var(--font-family-default);
  font-size: 14px;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  width: 39px;
  height: 21px;
  background-color: lightgray;
  border-radius: 65536px;

  &:before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    background: white;
    margin: 2px;
    border-radius: 50%;
    transition: margin-left 0.2s ease;
  }

  &:checked {
    background-color: #24c73b;

    &:before {
      margin-left: 20px;
    }
  }
}

.modalAligner {
  width: 100%;
  height: 100%;
  display: flex;
}

.confirmationModal {
  width: 100%;
  max-width: 355px;
  padding: 12px;
  margin: auto;
  position: relative;
}

.modalClose {
  position: absolute!important;
  background-color: white!important;
  border-radius: 50%!important;
  top: 0;
  right: 0;
}
