.ig-map {
  width: 100%;
  aspect-ratio: var(--grid-width) / var(--grid-height);
  position: relative;
}

.ig-grid-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;
}

.ig-unist-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.ig-grid-item {
  color: gray;
  background: gray;
  font-size: 9px;
  position: absolute;
  transform: scale(0.76, 0.96);

  &:before {
    content: '';
    display: block;

    float: left;
    border-right: 30px solid;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    transform: scale(0.436, calc(0.436 * 0.96));
    transform-origin: top right;

    position: absolute;
    right: 100%;
    top: 0;
  }

  &:after {
    content: '';
    display: block;

    border-left: 30px solid;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    transform: scale(0.436, calc(0.436 * 0.96));
    transform-origin: top left;

    position: absolute;
    left: 100%;
    top: 0;
  }
}

.ig-grid-item.selected {
  background: black;
  color: black;
}

.ig-grid-item.highlighted {
  background: lightgray;
  color: lightgray;
}

.ig-unit {
  width: calc(100% / 16);
  height: calc(100% / 16);
  background: blue;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.1s linear;
  z-index: 100;

  &.selected {
    outline: 1px solid white;
    z-index: 200;
  }
}
