.mapList {
    margin-bottom: 18px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.mapList-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: white;
}

.mapList-itemName {}

.mapList-itemControls {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
}

.mapList-newLevelButton {
    margin:  auto;
}

.mapList-itemControl {
    padding: 6px 6px!important;
    min-width: 44px!important;
}
