.userMenu {
  width: 100%;
  background: #4733ff;
  padding: 2%;
}

.userMenu-row {
  display: flex;
  align-items: center;
  justify-content: center;

  & + & {
    margin-top: 10px;
  }
}

.userMenu-button {
  margin: 0 calc(var(--base-width-unit) * 4px);
  white-space: nowrap;

  &.button {
    padding: calc(var(--base-width-unit) * 6px) calc(var(--base-width-unit) * 7px);
    border-radius: 65536px;
    font-family: var(--font-family-default);
    font-size: calc(var(--base-width-unit) * 11px);
    border: 3px solid transparent;
    box-shadow: 0 0 0 1px black;

    &.selected {
      border-color: black;
    }
  }

  &.userMenu-button_rotate-ccv {
    min-width: 30px;
    border-radius: 65536px 0 0 65536px;
    padding: calc(var(--base-width-unit) * 6px) calc(var(--base-width-unit) * 2px);
    margin-right: 0;
  }

  &.userMenu-button_rotate-cv {
    min-width: 30px;
    border-radius: 0 65536px 65536px 0;
    padding: calc(var(--base-width-unit) * 6px) calc(var(--base-width-unit) * 2px);
    margin-left: 0;
  }

  &.userMenu-button_rotates-count {
    border-radius: 0;
    margin: 0;
    padding: calc(var(--base-width-unit) * 6px) calc(var(--base-width-unit) * 4px);
  }
}

.userMenu-unitsBox {
  display: flex;
}

.userMenu-unit {
  width: calc(var(--base-width-unit) * 35px);
  height: calc(var(--base-width-unit) * 35px);
  margin: 0 calc(var(--base-width-unit) * 5px);
  position: relative;

  .unit {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .unit-hitBox {
    display: none;
  }
}

.userMenu-unitCount {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
