.userMenu {
  width: 100%;
  background: #4733ff;
  padding: 2%;
}

.userMenu-row {
  display: flex;
  align-items: center;
  justify-content: center;

  & + & {
    margin-top: 10px;
  }
}

.userMenu-button {
  margin: 0 16px;
  min-width: 100px;
}
