:root {
  --base-screen-width: 375px;
  --base-width-unit: calc(1 / 375);

  --projectile-hitBox--width: calc(var(--screen-width) * var(--base-width-unit) * 1px);
  --projectile-hitBox--height: calc(var(--screen-width) * var(--base-width-unit) * 1px);

  --projectile-image--width: calc(var(--screen-width) * var(--base-width-unit) * 4px);
  --projectile-image--height: calc(var(--screen-width) * var(--base-width-unit) * 4px);

  --projectile-explosion--radius: 5px;
  --projectile-explosion--duration: 0.3s;
}

.projectile {
  display: flex;
  position: absolute;
  width: 0;
  height: 0;
  background: aliceblue;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  will-change: transform;
}

.projectile-hitBox {
  --width: var(--projectile-hitBox--width);
  --heigh: var(--projectile-hitBox--height);

  flex: 0 0 var(--width);
  width: var(--width);
  height: var(--heigh);
  min-height: var(--heigh);
  background: rgba(71, 51, 255, 0);
}

.projectile-image {
  --width: var(--projectile-image--width);
  --height: var(--projectile-image--height);

  flex: 0 0 var(--width);
  width: var(--width);
  height: var(--height);
  min-height: var(--height);
  background: #4733ff;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto calc(var(--width) / 2 * -1);
  border-radius: 3px 3px 0 0;
}

.laser {
  .projectile-image {
    background: #FF4D00;
  }

  .projectile-explosion {
    background: red;
  }
}

.bobomb {
  .projectile-image {
    background: yellow;
  }

  .projectile-explosion {
    background: yellow;
  }
}

.projectile-explosion {
  width: calc(var(--projectile-explosion--radius) * 2);
  min-width: calc(var(--projectile-explosion--radius) * 2);
  height: calc(var(--projectile-explosion--radius) * 2);
  min-height: calc(var(--projectile-explosion--radius) * 2);
  position: absolute;
  margin: auto;
  border-radius: 50%;
  background: #4733ff;
  animation: explosion var(--projectile-explosion--duration) ease;
  opacity: 0;
  scale: 0;
}

@keyframes explosion {
  0% {
    opacity: 0;
    scale: 0;
  }
  90% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0;
    opacity: 0;
  }
}
