:root {
  --projectile-hitBox--width: 2px;
  --projectile-hitBox--height: 2px;

  --projectile-image--width: 4px;
  --projectile-image--height: 4px;

  --projectile-explosion--radius: 5px;
}

.projectile {
  display: flex;
  position: absolute;
  width: 0;
  height: 0;
  background: aliceblue;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  will-change: transform;
  // animation: passing calc(900ms * 25) linear;
}

@keyframes passing {
  0% {
    transform: rotate(var(--angle)) translateY(0);
  }
  100% {
    transform: rotate(var(--angle)) translateY(-900px);
  }
}

.projectile-hitBox {
  flex: 0 0 var(--projectile-hitBox--width);
  width: var(--projectile-hitBox--width);
  height: var(--projectile-hitBox--height);
  min-height: var(--projectile-hitBox--height);
  background: rgba(71, 51, 255, 0);
}

.projectile-image {
  flex: 0 0 var(--projectile-image--width);
  width: var(--projectile-image--width);
  height: var(--projectile-image--height);
  min-height: var(--projectile-image--height);
  background: #4733ff;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto calc(var(--projectile-image--width) / 2 * -1);
  border-radius: 3px 3px 0 0;
}

.projectile-explosion {
  width: calc(var(--projectile-explosion--radius) * 2);
  min-width: calc(var(--projectile-explosion--radius) * 2);
  height: calc(var(--projectile-explosion--radius) * 2);
  min-height: calc(var(--projectile-explosion--radius) * 2);
  position: absolute;
  margin: auto;
  border-radius: 50%;
  background: red;
  animation: explosion 0.3s ease;
  opacity: 0;
  scale: 0;
}

@keyframes explosion {
  0% {
    opacity: 0;
    scale: 0;
  }
  90% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0;
    opacity: 0;
  }
}