:root {
  --projectile-hitBox--width: 2px;
  --projectile-hitBox--height: 12px;
}

@media screen and (min-width: 375px) {
  :root {
    --projectile-hitBox--width: 6px;
    --projectile-hitBox--height: 12px;
  }
}

.projectile {
  display: flex;
  position: absolute;
  width: 0;
  height: 0;
  background: aliceblue;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}

.projectile-hitBox {
  flex: 0 0 var(--projectile-hitBox--width);
  width: var(--projectile-hitBox--width);
  height: var(--projectile-hitBox--height);
  min-height: var(--projectile-hitBox--height);
  background: aqua;
  opacity: 1;
}

.projectile-image {

}